<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.admin.mapper.DevicePointMapper">

    <resultMap id="BaseResultMap" type="com.iot.common.model.entity.admin.DevicePoint">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="device_id" column="device_id" jdbcType="VARCHAR"/>
            <result property="gather_job_id" column="gather_job_id" jdbcType="VARCHAR"/>
            <result property="point_name" column="point_name" jdbcType="VARCHAR"/>
            <result property="driver_code" column="driver_code" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="last_update_time" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="last_operator" column="last_operator" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,device_id,gather_job_id,
        point_name,driver_code,create_time,
        creator,last_update_time,last_operator,
        version
    </sql>
</mapper>
